[Unit]
Description=Brew Fermentor Monitor
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/fermmon
ExecStart=/usr/bin/python /home/ubuntu/fermmon/fermmon.py

[Install]
WantedBy=multi-user.target
