[Unit]
Description=http.server
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/fermmon
ExecStart=/usr/bin/python -m http.server

[Install]
WantedBy=multi-user.target
